    <mat-card class="custom-image">
        <img mat-card-image src="../../assets/logo.jpg">
    </mat-card>

    <nav class="sticky-nav" ngStickyNav style="max-width:1000px">
        <mat-card class="custom-menu">
            <div style="display: flex; justify-content: space-between">
                <span>
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/home']">Strona główna</button>
                        <button mat-menu-item [routerLink]="['/albums']">Albumy</button>
                    </mat-menu>
                    <span class="hide-on-mobiles">
                        <button mat-button [routerLink]="['/home']">Strona główna</button>
                        <button mat-button [routerLink]="['/albums']">Albumy</button>
                    </span>
                </span>
                <span *ngIf="router.url === '/albums'">                    
                    <button mat-button (click)="showSearchPanel()" *ngIf="!albumsService.isSearchPanelVisible">
                        <i class="material-icons">
                            search
                        </i>
                    </button>                    
                </span>
            </div>
        </mat-card>
    </nav>