mat-form-field {
    margin-right: 12px;
}

.flex-item-nav {
    width: 230px;
    margin: 0 10px;
}

.flex-container-nav {
    max-width: 1000px;
}

.custom-pagination.mat-paginator {
    border-radius: 3px;
}