.custom-footer.mat-card {
  width: 1000px;
  margin: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }
